---
import Section from "@/components/Section.astro";
---

<Section title="Educacion">
    <p>Sobre mi Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis veniam assumenda doloribus dolores optio tempora id porro rem quas, nisi quia neque quibusdam rerum aperiam commodi mollitia illum enim!</p>
</Section>